<div data-controller="morris-national" data-morris-national-phase-value="hero" data-morris-national-step-value="1" data-morris-national-total-steps-value="5"
     style="min-height: 100dvh; background: #fff;">

  <%= render "morris-national/navbar" %>
  <%= render "morris-national/progress_dots" %>

  <%= render "morris-national/hero" %>
  <%= render "morris-national/value" %>
  <%= render "morris-national/prologue" %>
  <%= render "morris-national/modeling" %>

  <%# Steps 1-5 %>
  <%= render "morris-national/step_1" %>
  <%= render "morris-national/step_2" %>
  <%= render "morris-national/step_3" %>
  <%= render "morris-national/step_4" %>
  <%= render "morris-national/step_5" %>

  <%= render "morris-national/result" %>
</div>
